body{
    display:flex;
    background-color:whitesmoke;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://wallpapercave.com/wp/wp2581365.jpg");
    background-size: cover;
}
.details-input{
    background-color:rgb(179, 211, 211);
    font-size:larger;
    padding:20px;
    border-radius: 10px;
    width: 500px;
    border: 1px solid black;
     
}
.button1{
    width:300px;
    background-color:blue;
    display: inline-block;
    margin: 0 20px;
    padding:10px;
    align-self: center;
}
.button1:hover{
    background-color: cornsilk;
    transition: ease-in-out 2ms;
}
h1{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
    color:whitesmoke;
    transition-property: unset;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
h2{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 

}
h1:hover{
  color: black;
}
h2:hover{
    color: black;
  }
.table-c{
    box-sizing: content-box;
    display: flex;
    direction: column;
    border: 5px solid black;
    min-height: 20vh;
    width: 100%;
}
.heading{
    font-size: 30px;
    border-bottom: 3px solid black; 
    border-right: 3px solid black ;
}
.heading:last-child{
	border-right: none;
  }
.row{
    border-right: 3px solid black ;
}   
.row:last-child{
	border-right: none;
}
.video{
    border:5px solid grey;
    width:900px;
}
.image1{
    width:600px;
    height:400px;
}